<div class="sidebar">
    <center>
        {% load static %}
        <img src="{% static 'user.png' %}" alt="Default Profile" class="profile-pic">
        <h3>{{ user.full_name }}</h3>
    </center>
    <a href="#"><i class="fa fa-home"></i> Dashboard</a>
    <a href="#"><i class="fa fa-user"></i> Profile</a>
    <a href="#"><i class="fa fa-certificate"></i> Certificate Request</a>
    <a href="#"><i class="fa fa-seedling"></i> Add/Edit Products</a>
    <a href="#"><i class="fa fa-shopping-cart"></i> Order Management</a>
    <a href="#"><i class="fa fa-chart-line"></i> Sales Analytics</a>
    <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a>
</div>